* {
  margin: 0;
}
.container {
  background-image: url(./components/images/memberbkgd.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

h1 {
  text-align: center;
}
