.banner {
  height: 150px;
  border: 2px solid #1d809e;
  background: radial-gradient(#0c2c36, #0e4657);
  width: 100%;
  overflow: hidden;
}

.dog {
  align-content: top;
  max-width: 200px;
  float: left;
}

.text-right {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

.logo {
  width: 170px;
  display: inline-block;
  margin-top: 5px;
}

button {
  display: inline-block;
  margin: 5px;
}

header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30pt;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e5261a;
  font-weight: bold;
  color: #bd844e;
  padding-bottom: 5px;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f3f3e6;
  font-size: 20pt;
  padding-bottom: 5px;
}
