.searchrow {
  background-color: azure;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

form {
  width: 25%;
  float: right;
  margin-bottom: 1rem;
}

button {
  justify-content: left;
  margin-top: 1rem;
}
