.searchrow {
  background-color: #f3f3e6;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

form {
  width: 100%;
  float: right;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
}
